<div id="palm-dialog-content" class="palm-dialog-content">
	<div id="dialog-title" class="dialog-title" x-mojo-loc=""></div>    
	     
	<div class="palm-dialog-separator"></div>
	
	<div class="palm-group">
		<div class="palm-group-title" x-mojo-loc='' id='itemGroupLabel'></div>
		<div class="palm-list">
			
			<div class="palm-row single">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
					<div class='title'>
						<div class='label' id='itemNameLabel'></div>
						<div id="itemName" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
<!--			
			<div class="palm-row">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
					<div class='title'>
						<div class='label' id='textField1Label'></div>
						<div id="textField1" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
			
			<div class="palm-row last">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
					<div class='title'>
						<div class='label' id='textField2Label'></div>
						<div id="textField2" x-mojo-element="TextField"></div>
					</div>
				</div>
			</div>
-->			
		</div>
	</div>
</div>

<div class="palm-dialog-buttons">
	<div id='updateItem' x-mojo-element="Button"></div>
</div>