	<div class='yellowpad'></div>
	<div class='redstripe shorter'></div>
	<div id="testing"></div>
	<!-- <div class="palm-header">Add a Task!</div> -->
	<div id ='Scrim' class='palm-scrim'>
		<div id='Spinner' x-mojo-element='Spinner' class='palm-activity-indicator-large'></div>
	</div>

<div>
	<div class="palm-list">
	<div class="palm-row red single add-tasks-list-header" x-mojo-focus-highlight="true">
 				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="title">
<!--		<div id='taskCheck' class="left red" name='taskcheck' x-mojo-element='CheckBox'>
		</div> -->
 						<div x-mojo-element="TextField" id="TaskInputId" class="add-task-title"></div>
						<div id='star' class="star-add-container done-icon-star-1"></div>
						<div id='notstar' class="star-add-container done-icon-star-0"></div>
					</div>
				</div>
	</div>
	</div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight='true'>
					<div class='title'>
						<div class='label' id='notesLabel'>Note</div>
				 		<div x-mojo-element="TextField" id="NoteId" class="thirty"></div>
					</div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
						<div x-mojo-element="ListSelector" id="FolderSelectorId" class="thirty" name="FolderSelector"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="ContextSelectorId" class="thirty" name="ContextSelector"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
				 	<div x-mojo-element="ListSelector" id="PrioritySelectorId" class="thirty" name="PrioritySelector"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="DueDateSelectorId" class="thirty" name="DueDateSelector"></div>
				</div>
			</div>
			<div class="palm-row" id='dueTimeRow'>
				<div class="palm-row-wrapper">
					<div class="thirty palm-list-selector">
						<div class="title">
							<span class="list-selector-triangle"></span>
							<span x-mojo-loc="" class="list-selector-value truncating-text" id='dueTimeId'>No Due Time</span>		
							<span x-mojo-loc="" class="label truncating-text" id='dueTimeLabelId'>Due Time</span>		
						</div>
					</div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="StartDateSelectorId" class="thirty"></div>
				</div>
			</div>
			<div class="palm-row" id='startTimeRow'>
				<div class="palm-row-wrapper">
					<div class="thirty palm-list-selector">
						<div class="title">
							<span class="list-selector-triangle"></span>
							<span x-mojo-loc="" class="list-selector-value truncating-text" id='startTimeId'>No Start Time</span>		
							<span x-mojo-loc="" class="label truncating-text" id='startTimeLabelId'>Start Time</span>		
						</div>
					</div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="StatusSelectorId" class="thirty" name="StatusSelector"></div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ListSelector" id="RepeatSelectorId" class="thirty" name="RepeatSelector"></div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
				<table class="palm-list-section-label ">
					<tr>
						<td>
							<span x-mojo-loc="" class="repeatfromtitle" id="repeatFromLabel">Repeat from</span>		
						</td>
						<td>
									<div x-mojo-element="ToggleButton" id="RepeatFromToggleId" class="thirty" name="RepeatFromToggle"></div>
							</div>
						</td>	
					</tr>
				</table>
				</div>
			</div>
		</div>
</div>