<div id="dash-notify-info" class="dashnotifyinfo">
	<div class="dashboard-notification-module">
<!--		<div id ="dash-arrow-left" class="palm-dashboard-icon-container arrow-icon-container">
			<div id="dashboard-arrow-left-icon" class="palm-dashboard-icon arrow-icon dashboard-icon-arrow-left"></div>
		</div>
-->
		<div id ="dash-notify-icon" class="palm-dashboard-icon-container">
			<div class="dashboard-newitem">
				<span id='dash-notify-count'></span>
			</div>
			<div id="dashboard-icon" class="palm-dashboard-icon dashboard-icon-sync"></div>
		</div>
<!--		<div id ="dash-arrow-right" class="palm-dashboard-icon-container arrow-icon-container">
			<div id="dashboard-arrow-right-icon" class="palm-dashboard-icon arrow-icon dashboard-icon-arrow-right"></div>
		</div>
-->
		<div id="dash-notify-message" class="palm-dashboard-text-container">
			<div id='dash-notify-title' class="dashboard-title">
				
			</div>
			<div id="dash-notify-text" class="palm-dashboard-text"></div>
		</div>
	</div>

</div>
