<div class="palm-scene">
	<div class='header-ico' id='header-icon'></div>
	<div class="palm-header left" id="main-hdr">
	  Programmhilfe/Einführung
	</div>
	<div class="palm-header-spacer"></div>

	<div>
		<div class='helptopic'>1. Aufgabenliste</div>
		<div class='palm-body-text helptext'>
		Die Aufgabenliste wird angezeigt, sobald Du Done! startest. Benutze die beiden Menüs in der Kopfzeile zur Filterung Deiner Aufgaben ( nach Ordner, nach Kontext, usw. ). Um Deine Aufgabe abzuhaken bzw. auf „erledigt“ zu setzen, klicke auf die checkbox links neben der Aufgabe. Done! stellt erledigte Aufgaben mit einem Checkhaken dar. Durch Tippen auf Deine Aufgaben können Änderungen der Aufgabe vorgenommen werden.
		<br />&nbsp;<br />
		Mit der „+“-Schaltfläche unten links fügst Du eine neue Aufgabe hinzu. Um eine Synchronisation durchzuführen klicke auf  die Schaltfläche unten rechts.
		</div>

		<div class='helptopic'>2. Eingabe/Ändern von Aufgaben</div>
		<div class='palm-body-text helptext'>
		Indem Du auf „+“  oder auf die Aufgabe tippst, öffnet sich das „Aufgaben-Menü“. Hier kann eine neue Aufgabe hinzugefügt, der Aufgabenname geändert und die meisten Aufgabenoptionen gesteuert werden, die in Toodledo vorhanden sind.
		<br />&nbsp;<br />
		Tippe auf den Stern ( Favoriten ) um die eine Aufgabe als Favoriten zu markieren. Das Fälligkeitsdatum und das Startdatum besitzen vordefinierte Optionen ( Heute, morgen, etc. ), durch Wahl von „Andere...“ kann auch ein bestimmtes Datum ausgewählt werden.
		</div>
		
		<div class='helptopic'>3. Synchronisation mit Toodledo</div>
		<div class='palm-body-text helptext'>
		Starte die Synchronisation mit Toodledo indem Du auf die Schaltfläche unten rechts tippst. Weitere Optionen für die Synchronisation beim Programmstart, beim Programm beenden und automatisches Synchronisieren alle 30 Minuten findest Du in den „Einstellungen & Konten“.
		<br />&nbsp;<br />
		Done! versucht nicht zu synchronisieren, wenn keine Internetverbindung vorhanden ist. Ist die Option „Nur über WiFi synchronisieren“ aktiviert, wird nur synchronisiert wenn eine WiFi-Verbindung vorhanden ist.
		</div>
		
		<div class='helptopic'>4. Benachrichtigen</div>
		<div class='palm-body-text helptext'>
		Benachrichtungen können in “Einstellungen & Konten” aktiviert werden und werden dann für Aufgaben angezeigt, für die ein/e Fälligkeitsdatum/Fälligkeitszeit oder ein/e Startdatum/Startzeit eingestellt ist. Für Aufgaben, für die bloss ein Datum eingestellt ist, wird eine Benachrichtigung täglich angezeigt. Für Aufgaben mit eingestellter „Zeit“ werden Benachrichtigen zur eingestellten Zeit angezeigt. Außerdem wirst Du über alle überfälligen Aufgaben benachrichtigt.
		<br />&nbsp;<br />
		Indem Du auf das Symbol ( < und > ) in den Benachrichtigen tippst, kannst Du durch die fälligen/überfälligen Aufgaben durchblättern. Tippe auf eine angezeigte Benachrichtigung und Done! öffnet die betreffenden Aufgabeneinstellungen. Die Benachrichtigen kannst Du durch einen Fingerstrich entfernen.
		</div>
		
		<div class='helptopic'>5. Suchen in der Aufgabenliste</div>
		<div class='palm-body-text helptext'>
		Öffne die Aufgabenliste und tippe auf der Tastatur einen gesuchten Aufgabennamen ein. Done! filtert nun alle angezeigten Aufgaben, die Deine Eingabe beinhalten. Indem Du ein Wort oder einen Suchbegriff eintippst, wird die Aufgabenliste nach Aufgaben neu gefiltert, die im Titel, Notizen, Ordnern oder Kontexten Deinen Suchbegriff beinhalten. Drücke „Enter“ und Done! übernimmt Deine Eingabe für die Anlage einer neuen Aufgabe.
		</div>
		
		<div class='helptopic'>6. Einstellungen</div>
		<div class='palm-body-text helptext'>
		<b>Anzeige</b> - Die Aufgaben können in der Liste dargestellt werden nach Deinen Wünschen angezeigt werden ( mit ein- oder zweizeiligen Namen, mit/ohne Stern, mit Ordnern und Kontexten ). Mit der Option „abgeschlossene verstecken“ werden erledigte/abgehakte Aufgaben nicht mehr in der Liste angezeigt. Andernfalls werden sie am Folgetag entfernt. Erledigte Aufgaben können aber immer noch angezeigt werden, indem in der Kopfzeile „Abgeschlossen“ gewählt wird.
		<br />&nbsp;<br />
		<b>Synchronisation</b> – Mit der Option “Gerät überschreibt Web” bestimmst Du, dass bei  gleichzeitiger Änderungen von Aufgaben auf dem Gerät und in der toodledo-Liste die Aufgabeneinstellungen auf dem Gerät dominieren. Hier findest Du auch die weiteren Optionen, ob und wann ( beim Programmstart, beim Programm beenden oder automatisch alle 30 Minuten ) eine Synchronisation erfolgen soll. Done! versucht eine Synchronisation nicht, wenn keine Internetverbindung vorhanden ist. Bei Einstellung von „Nur über WiFi synchronisieren“ nimmt Done! eine Synchronisation nur dann vor, wenn eine WiFi-Verbindung vorhanden ist.
		<br />&nbsp;<br />
		<b>Kontoeinstellungen</b> – Einrichtung und Änderung von Toodledo-Konten werden hier vorgenommen. Wenn Du Deine Kontoeinstellungen änderst, wird Done! alle existierenden Kontoeinstellungen löschen bevor das neue Konto geladen wird. !!!Stelle also sicher, dass Du eine Synchronisation vorgenommen hast, bevor Du Änderungen an Deinen Kontoeinstellungen vornimmst!!!
		<br />&nbsp;<br />
		<b>Standard Einstellungen</b> – Hier werden die Standardeinstellungen für die Aufgaben festgelegt ( Ordner, Kontexte, Prioritäten etc. ) 	</div>
		</div> 
</div>