<div class="palm-scene">
	<div class='header-ico' id='header-icon'></div>
	<div class="palm-header left" id="main-hdr">
	  Help Topics
	</div>
	<div class="palm-header-spacer"></div>

	<div>
		<div class='helptopic'>1. Tasks List</div>
		<div class='palm-body-text helptext'>
		The tasks list is shown when you open Done! Use the two menus in the 
		header to change the filtering of the tasks (by folder, by context, etc.) 
		Mark a task complete by tapping the checkbox on the left of each task. Edit
		a task by tapping elsewhere on the task.
		<br />&nbsp;<br />
		Add a task by tapping the "+" button on the lower left of the tasks list
		and perform a manual sync to Toodledo by tapping the button on the lower
		right.
		</div>

		<div class='helptopic'>2. Entering/Editing Tasks</div>
		<div class='palm-body-text helptext'>
		Tapping the add button or tapping a task in the task list will open
		the add/edit tasks screen. From this screen, you can change the task
		title, add a note, and set most other task options available in Toodledo.
		<br />&nbsp;<br />
		Tap the star icon to change the starred setting. The due date and start
		date have several predefined options (Today, Tomorrow, etc.) or you can 
		choose "Other Date" to select a different date.
		</div>
		
		<div class='helptopic'>3. Syncing with Toodledo</div>
		<div class='palm-body-text helptext'>
		Manually sync with Toodledo by tapping the button in the lower right 
		corner of the tasks list. You can also set options for syncing on
		app launch, on app exit and auto-syncing every 30 minutes in Preferences.
		<br />&nbsp;<br />
		Done! will not attempt to sync if there is no internet connection available.
		The 'Sync only on Wifi' Preference setting will allow syncing only when a
		wifi connection is available.
		</div>
		
		<div class='helptopic'>4. Notifications</div>
		<div class='palm-body-text helptext'>
		Notifications can be enabled in Preferences. Notifications will be provided for
		any tasks with a due date/time or start date/time. For tasks with a date only,
		a notification will be provided daily. For tasks with a time, notification will
		be provided at the specified time. The notification will also include all overdue
		tasks.
		<br />&nbsp;<br />
		Tapping the icon in the notification will cycle thru the due/overdue tasks.
		Tapping on the task will open Done! to the edit screen for that task. 
		The notifications can be dismissed by swiping.
		</div>
		
		<div class='helptopic'>5. Searching the tasks list</div>
		<div class='palm-body-text helptext'>
		The Tasks list includes a search field that can be used to quickly filter
		the tasks by simply typing while the tasks list is open. As you type a 
		word or phrase, the list will be filtered to include only those tasks whose
		title, note, folder or context contains the entered text. Pressing 'Enter'
		with a word or phrase in the search field will add a new task with the entered
		text as the task's title.
		</div>
		
		<div class='helptopic'>6. Preferences</div>
		<div class='palm-body-text helptext'>
		<b>Display settings</b> - allow you to change the way tasks are displayed (title 
		wrapped or truncated, star or no star, show folders & contexts). The 'Hide
		Completed' setting will cause completed items to disappear from the tasks list
		upon completion. Otherwise they will be removed the following day. Completed
		tasks can still be viewed by selecting 'Completed' from the upper right menu.
		<br />&nbsp;<br />
		<b>Sync settings</b> - control whether a tasks values from the device (local wins on 
		conflict) or Toodledo task values will be used when a task is edited in both 
		places between syncs. You can also choose to sync on app launch, on app exit,
		or Auto-Sync every 30 minutes. Done! will not attempt to sync if there is no 
		internet connection available.
		The 'Sync only on Wifi' Preference setting will allow syncing only when a
		wifi connection is available.
		<br />&nbsp;<br />
		<b>Account Settings</b> - can be used to change Toodledo accounts, or to create a new
		account. If you change account settings, Done! will delete any existing account
		data before loading the new account. Be sure to synchronize any tasks before
		changing account settings.
		<br />&nbsp;<br />
		<b>Default Task Options</b> - can also be set for default values for task options (folder, context,
		priority, etc.)
		</div>
	</div>
</div>